<div class="container rounded-2 p-3 bg-white bg-body my-5">
  <div class="row p-5">
    <div class="col col-md-4">
      <div class="row">
        <img src="../../../assets/book.jpg" class="img-fluid" alt="...">
      </div>
      <div class="row mt-3">
        <div class="col w-100 fs-6"><button class="w-100 fs-6 p-1" mat-raised-button color="primary">BUY NOW</button>
        </div>
        <div class="col w-100"><button class="w-100 fs-6 p-1" mat-raised-button><i
              class="fas fa-shopping-cart mx-2"></i> ADD TO CART</button></div>
      </div>
    </div>
    <div class="col col-md-7  mx-3">
      <div class="row">
        <h1 class="text-class">Lyrics of the Lalala Musical</h1>
      </div>
      <div class="reviews mt-3">
        <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
        <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
        <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
        <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
        <i class="fa fa-star-half fs-5 text-warning" aria-hidden="true"></i> <span>(235 pepole reviewed)</span>
      </div>
      <div class="row mt-4 fs-6">
        <p class="text-secondary desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident blanditiis
          aut alias adipisci sequi fugit
          perferendis culpa assumenda eveniet quae! Velit inventore et reprehenderit optio ratione vel exercitationem
          repellat reiciendis!</p>
      </div>
      <div class="row mt-3 ">
        <h1 class="text-class">$135</h1>
      </div>
      <div class="row">
        <p class="fs-bold fs-5">Delivery By 28 Feb, Tusenday</p>
        <p class="text-success">Get Free Delivery On Your First Order</p>
      </div>
      <div class="row mt-3">
        <i class="fa fa-line-chart fs-4" aria-hidden="true"><span class="fw-normal fs-6 mx-2"> 265 Pepole Ordered this book last week</span></i>
      </div>
      <!-- <div class="row mt-3">
        <b class="fs-4">Sold By</b>
        <div class="fluid-container w-75 border my-3">
          <div class="col"><i class="fas fa-store-alt fs-3 text-primary"></i> <span
              class="fs-4 mx-5 text-secondary">COSMETIC AGE</span>
            <button mat-raised-button color="primary"><i class="fas fa-shopping-cart mx-2"></i> VIEW SHOPE</button>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">Followers</div>
              <div class="row text-secondary">123</div>
            </div>
            <div class="col">
              <div class="row">Products</div>
              <div class="row text-secondary">256</div>
            </div>
            
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row p-5 mt-3">
    <div class="col col-md-5">
      <h2 class="text-class fs-2">Book Details</h2>
      <table class="table ">
        <tbody>
          <tr>
            <th scope="row w-25">Pages</th>
            <td>320 <i>pages</i></td>
          </tr>
          <tr>
            <th scope="row">Cover Design</th>
            <td>Tomasd</td>
          </tr>
          <tr>
            <th scope="row">Publiser</th>
            <td colspan="2">Ramonas</td>
          </tr>

          <tr>
            <th scope="row">Language</th>
            <td>Hindi</td>
          </tr>
          <tr>
            <th scope="row">Released</th>
            <td>2018</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h2 class="text-class fs-2">About the Author</h2>
      <div class="row">
        <div class="col col-md-8">
          <div class="row mt-4">
            <h2 class=" text-class fs-4 m-0">Parag Vaishnav</h2>
            <p class="text-secondary about">Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis dolore,
              quos cupiditate consequatur
              vitae aut eum. Asperiores quis expedita incidunt distinctio quia molestias earum fugit laboriosam beatae.
              Accusantium, quaerat!</p>
          </div>
        </div>
        <div class="col col-md-2">
          <img src="https://demo.tokopress.com/bookie/wp-content/uploads/sites/7/2016/06/author-03.jpg"
            style="border-radius: 50%;" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row p-5 mt-3">
    <h2 class="text-class fs-2">Reviews(1)</h2>
    <div class="col col-md-1 mt-3">
      <img src="https://demo.tokopress.com/bookie/wp-content/uploads/sites/7/2016/06/author-03.jpg"
        style="border-radius: 50%;" class="img w-75" alt="">
    </div>
    <div class="col col-md-10 mt-3 p-0">
      <div class="row">
        <p class="fs-5 col col-md-10">Parag Vaishnav <span class="text-secondary fs-6">2 years ago</span> </p>
        <div class="col">
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star-half fs-5 text-warning" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <p class="fs-6 text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia sapiente facere
          nihil harum
          similique quae
          tempore maiores exercitationem velit repellendus. Atque cupiditate officia odit ipsum sit quisquam ex iusto
          cumque.</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="col col-md-1 mt-3">
      <img src="https://demo.tokopress.com/bookie/wp-content/uploads/sites/7/2016/06/author-03.jpg"
        style="border-radius: 50%;" class="img w-75" alt="">
    </div>
    <div class="col col-md-10 mt-3 p-0">
      <div class="row">
        <p class="fs-5 col col-md-10">Parag Vaishnav <span class="text-secondary fs-6">2 years ago</span> </p>
        <div class="col">
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star-half fs-5 text-warning" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <p class="fs-6 text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia sapiente facere
          nihil harum
          similique quae
          tempore maiores exercitationem velit repellendus. Atque cupiditate officia odit ipsum sit quisquam ex iusto
          cumque.</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="col col-md-1 mt-3">
      <img src="https://demo.tokopress.com/bookie/wp-content/uploads/sites/7/2016/06/author-03.jpg"
        style="border-radius: 50%;" class="img w-75" alt="">
    </div>
    <div class="col col-md-10 mt-3 p-0">
      <div class="row">
        <p class="fs-5 col col-md-10">Parag Vaishnav <span class="text-secondary fs-6">2 years ago</span> </p>
        <div class="col">
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star fs-5 text-warning" aria-hidden="true"></i>
          <i class="fa fa-star-half fs-5 text-warning" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <p class="fs-6 text-secondary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia sapiente facere
          nihil harum
          similique quae
          tempore maiores exercitationem velit repellendus. Atque cupiditate officia odit ipsum sit quisquam ex iusto
          cumque.</p>
      </div>
    </div>
    <h2 class="text-class fs-2 mt-3">Add Your Review</h2>
    <div class="row">
      <div class="col col-md-4">
        <i class="fa fa-star fs-3 text-warning" aria-hidden="true"></i>
        <i class="fa fa-star fs-3 text-warning" aria-hidden="true"></i>
        <i class="fa fa-star fs-3 text-warning" aria-hidden="true"></i>
        <i class="fa fa-star fs-3 text-warning" aria-hidden="true"></i>
        <i class="fa fa-star-half fs-3 text-warning" aria-hidden="true"></i>

        <div class="row mt-5">
          <div class="col">
            <form [formGroup]="formLogIn" (ngSubmit)="loginUserForm()">
              <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
              </mat-form-field>
              <div class="d-grid">
                <button mat-raised-button color="primary" class="rounded-5">Add Review</button>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

  <div class="container rounded-2 p-3 bg-white bg-body my-5">
    <div class="container">
      <h1 class=" text-class fs-4">You may also like...</h1>
      <div class="row">
          <div class="col">
              <mat-card class="example-card rounded-3 shadow p-3 mb-5 bg-body rounded">
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                      alt="Photo of a Shiba Inu">
                  <mat-card-content>
                      <div class="reviews">
                          <div class="row">
                              <div class="col col col-md-3">
                                  <span class="text-secondary">Reviews</span>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star-half" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-3 text-center">
                                  <p class="fw-bold price">$ 100</p>
                              </div>
                          </div>
                      </div>
                      <div class="row mt-3 fs-4 ">
                          <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                      </div>
                      <p class="text-secondary">
                          Book By Chetan Bhagat
                      </p>
  
                  </mat-card-content>
                  <mat-card-actions>
                      <button mat-button class="fw-bold fs-6 "><i class="fa fa-heart text-danger fs-5"
                              aria-hidden="true"></i></button>
                      <i class="fs-6">123</i>
                      <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                              style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                  </mat-card-actions>
              </mat-card>
  
          </div>
          <div class="col">
              <mat-card class="example-card rounded-3 shadow p-3 mb-5 bg-body rounded">
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                      alt="Photo of a Shiba Inu">
                  <mat-card-content>
                      <div class="reviews">
                          <div class="row">
                              <div class="col col col-md-3">
                                  <span class="text-secondary">Reviews</span>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star-half" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-3 text-center">
                                  <p class="fw-bold price">$ 100</p>
                              </div>
                          </div>
                      </div>
                      <div class="row mt-3 fs-4 ">
                          <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                      </div>
                      <p class="text-secondary">
                          Book By Chetan Bhagat
                      </p>
  
                  </mat-card-content>
                  <mat-card-actions>
                      <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                              aria-hidden="true"></i></button>
                      <i class="fs-6">123</i>
                      <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                              style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                  </mat-card-actions>
              </mat-card>
  
          </div>
          <div class="col">
              <mat-card class="example-card rounded-3 shadow p-3 mb-5 bg-body rounded">
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                      alt="Photo of a Shiba Inu">
                  <mat-card-content>
                      <div class="reviews">
                          <div class="row">
                              <div class="col col col-md-3">
                                  <span class="text-secondary">Reviews</span>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star-half" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-3 text-center">
                                  <p class="fw-bold price">$ 100</p>
                              </div>
                          </div>
                      </div>
                      <div class="row mt-3 fs-4 ">
                          <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                      </div>
                      <p class="text-secondary">
                          Book By Chetan Bhagat
                      </p>
  
                  </mat-card-content>
                  <mat-card-actions>
                      <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                              aria-hidden="true"></i></button>
                      <i class="fs-6">123</i>
                      <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                              style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                  </mat-card-actions>
              </mat-card>
  
          </div>
          <div class="col">
              <mat-card class="example-card rounded-3 shadow p-3 mb-5 bg-body rounded">
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                      alt="Photo of a Shiba Inu">
                  <mat-card-content>
                      <div class="reviews">
                          <div class="row">
                              <div class="col col col-md-3">
                                  <span class="text-secondary">Reviews</span>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-1">
                                  <i class="fa fa-star-half" aria-hidden="true"></i>
                              </div>
                              <div class="col col col-md-3 text-center">
                                  <p class="fw-bold price">$ 100</p>
                              </div>
                          </div>
                      </div>
                      <div class="row mt-3 fs-4 ">
                          <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                      </div>
                      <p class="text-secondary">
                          Book By Chetan Bhagat
                      </p>
  
                  </mat-card-content>
                  <mat-card-actions>
                      <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                              aria-hidden="true"></i></button>
                      <i class="fs-6">123</i>
                      <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                              style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                  </mat-card-actions>
              </mat-card>
  
          </div>
      </div>
  </div>
  </div>

