<div class="fluid-container">
    <div class="row w-100 my-2">
        <div class="col col-md-2 ">
            <div class="container bg-white" style="margin-left: 6px;padding: 15px;">
                <div class="cls">My Account</div>
            </div>
        </div>
        <div class="col col-md-10 bg-white p-3 mx-0">
            <p>Your Name  <a  href=javascript:void(0) (click)="show=!show;" class="text-decoration-none">edit </a></p>
            <div class="row  mt-2">
                <div class="col col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="col col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="col col-md-2" *ngIf="show">
                    <button mat-raised-button color="primary"> Save</button>
                </div>
            </div>
            <p>Gender </p>
            <div class="row mt-2 w-25">
                <div class="col">
                    <mat-radio-button value="1">Male</mat-radio-button>
                </div>
                <div class="col">
                    <mat-radio-button value="1">Female</mat-radio-button>
                </div>
            </div>

            
            <div class="row w-50 mt-3">
                <p>Email Address <a  href=javascript:void(0) (click)="show1=!show1;" class="text-decoration-none">edit </a></p>
                <div class="col ">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Email Id</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="col" *ngIf="show1">
                    <button mat-raised-button color="primary"> Save</button>
                </div>
            </div>
            <p>Phone Number <a  href=javascript:void(0) (click)="show2=!show2;" class="text-decoration-none">edit </a></p>
            <div class="row w-50 mt-2">
                <div class="col ">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Phone Number</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="col" *ngIf="show2">
                    <button mat-raised-button color="primary"> Save</button>
                </div>
            </div>
            <p>Billing Address <a  href=javascript:void(0) (click)="show3=!show3;" class="text-decoration-none">edit </a></p>
            <div class="row w-50 mt-2">
                <div class="col ">
                    <mat-form-field appearance="outline" class="example-full-width w-100">
                        <mat-label>Address</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                </div>
                <div class="col" *ngIf="show3">
                    <button mat-raised-button color="primary"> Save</button>
                </div>
            </div>
        </div>
    </div>