<div class="container rounded-2 p-3 bg-white  my-5">
    <div class="row">
        <h2 class="text-center fs-3 my-5">Most Awaited Books</h2>
        <div class="col">
            <mat-card class="example-card rounded-3  mb-5 bg-body rounded">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="reviews">
                        <div class="row">
                            <div class="col col col-md-3">
                                <span class="text-secondary">Reviews</span>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-3 text-center">
                                <p class="fw-bold price">$ 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 fs-4 ">
                        <a class="text-decoration-none"  href="/product-view">The Girl in Room No 115</a>
                    </div>
                    <p class="text-secondary">
                        Book By Chetan Bhagat
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                            aria-hidden="true"></i></button>
                    <i class="fs-6">123</i>
                    <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                            style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card rounded-3  mb-5 bg-body rounded">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="reviews">
                        <div class="row">
                            <div class="col col col-md-3">
                                <span class="text-secondary">Reviews</span>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-3 text-center">
                                <p class="fw-bold price">$ 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 fs-4 ">
                        <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                    </div>
                    <p class="text-secondary">
                        Book By Chetan Bhagat
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                            aria-hidden="true"></i></button>
                    <i class="fs-6">123</i>
                    <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                            style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card rounded-3  mb-5 bg-body rounded">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="reviews">
                        <div class="row">
                            <div class="col col col-md-3">
                                <span class="text-secondary">Reviews</span>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-3 text-center">
                                <p class="fw-bold price">$ 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 fs-4 ">
                        <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                    </div>
                    <p class="text-secondary">
                        Book By Chetan Bhagat
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                            aria-hidden="true"></i></button>
                    <i class="fs-6">123</i>
                    <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                            style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card rounded-3  mb-5 bg-body rounded">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="reviews">
                        <div class="row">
                            <div class="col col col-md-3">
                                <span class="text-secondary">Reviews</span>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-3 text-center">
                                <p class="fw-bold price">$ 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 fs-4 ">
                        <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                    </div>
                    <p class="text-secondary">
                        Book By Chetan Bhagat
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                            aria-hidden="true"></i></button>
                    <i class="fs-6">123</i>
                    <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                            style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>
<div class="container rounded-2 p-3 bg-white my-5">
    <div class="row">
        <h2 class="text-center fs-3 my-5">Most Awaited Books</h2>
        <div class="col">
            <mat-card class="example-card rounded-3  mb-5 bg-body rounded">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="reviews">
                        <div class="row">
                            <div class="col col col-md-3">
                                <span class="text-secondary">Reviews</span>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-3 text-center">
                                <p class="fw-bold price">$ 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 fs-4 ">
                        <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                    </div>
                    <p class="text-secondary">
                        Book By Chetan Bhagat
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                            aria-hidden="true"></i></button>
                    <i class="fs-6">123</i>
                    <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                            style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card rounded-3  mb-5 bg-body rounded">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="reviews">
                        <div class="row">
                            <div class="col col col-md-3">
                                <span class="text-secondary">Reviews</span>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-3 text-center">
                                <p class="fw-bold price">$ 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 fs-4 ">
                        <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                    </div>
                    <p class="text-secondary">
                        Book By Chetan Bhagat
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                            aria-hidden="true"></i></button>
                    <i class="fs-6">123</i>
                    <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                            style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card rounded-3  mb-5 bg-body rounded">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="reviews">
                        <div class="row">
                            <div class="col col col-md-3">
                                <span class="text-secondary">Reviews</span>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-3 text-center">
                                <p class="fw-bold price">$ 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 fs-4 ">
                        <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                    </div>
                    <p class="text-secondary">
                        Book By Chetan Bhagat
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                            aria-hidden="true"></i></button>
                    <i class="fs-6">123</i>
                    <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                            style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card rounded-3  mb-5 bg-body rounded">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="reviews">
                        <div class="row">
                            <div class="col col col-md-3">
                                <span class="text-secondary">Reviews</span>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-1">
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="col col col-md-3 text-center">
                                <p class="fw-bold price">$ 100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 fs-4 ">
                        <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                    </div>
                    <p class="text-secondary">
                        Book By Chetan Bhagat
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button class="fw-bold fs-6"><i class="fa fa-heart text-danger fs-5"
                            aria-hidden="true"></i></button>
                    <i class="fs-6">123</i>
                    <button mat-button class="bg-dark text-white cart m-0"><i class="fa fa-shopping-cart text-white"
                            style="margin-right: 4px;" aria-hidden="true"></i> Add to Cart</button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>