<div class="fluid-container">
   
    <div class="row w-100 my-2">
        <div class="col col-md-2 ">
            <div class="container bg-white" style="margin-left: 6px;padding: 15px;">
                <p class="fs-5 text-secondary">Filters</p>
                <hr>
                <P style="font-size: 13px;">Cagegories</P>
                <section class="example-section">
                    <span class="example-list-section">
                      <mat-checkbox class="example-margin"
                                    [checked]="allComplete"
                                    [color]="task.color"
                                    [indeterminate]="someComplete()"
                                    (change)="setAll($event.checked)">
                        {{task.name}}
                      </mat-checkbox>
                    </span>
                    <span class="example-list-section">
                      <ul>
                        <li *ngFor="let subtask of task.subtasks">
                          <mat-checkbox [(ngModel)]="subtask.completed"
                                        [color]="subtask.color"
                                        (ngModelChange)="updateAllComplete()">
                            {{subtask.name}}
                          </mat-checkbox>
                        </li>
                      </ul>
                    </span>
                  </section>
                  <hr>
                  <P style="font-size: 13px;;">Languages</P>
                  <section class="example-section">
                    <span class="example-list-section">
                      <mat-checkbox class="example-margin"
                                    [checked]="allComplete1"
                                    [color]="task1.color"
                                    [indeterminate]="someComplete1()"
                                    (change)="setAll1($event.checked)">
                        {{task1.name}}
                      </mat-checkbox>
                    </span>
                    <span class="example-list-section">
                      <ul>
                        <li *ngFor="let subtask of task1.subtasks">
                          <mat-checkbox [(ngModel)]="subtask.completed"
                                        [color]="subtask.color"
                                        (ngModelChange)="updateAllComplete1()">
                            {{subtask.name}}
                          </mat-checkbox>
                        </li>
                      </ul>
                    </span>
                  </section>
            </div>
        </div>
        <div class="col col-md-10 bg-white p-3 mx-0">
            <p>Showing results for   <b>"aam admi ki kahani"</b></p>
            <div class="row">
                <div class="col">
                    <mat-card class="example-card rounded-3 shadow-sm p-3 mb-5 bg-body rounded product-card product-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="reviews">
                                <div class="row">
                                    <div class="col col col-md-3">
                                        <span class="text-secondary">Reviews</span>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning-half" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-3 text-center">
                                        <p class="fw-bold price">$ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 fs-6">
                                <a class="text-decoration-none " href="/product-view">The Girl in Room No 115</a>
                            </div>
                            <p class="text-secondary">
                                Book By Chetan Bhagat
                            </p>

                        </mat-card-content>
                        <mat-card-actions>
                           <i class="fa fa-heart text-danger"   aria-hidden="true"></i>
                            <i class="fs-6">123</i>
                            <button mat-button class="bg-dark text-white cart mx-5"><i
                                    class="fa fa-shopping-cart text-white" aria-hidden="true"></i> Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="example-card rounded-3 shadow-sm p-3 mb-5 bg-body rounded product-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="reviews">
                                <div class="row">
                                    <div class="col col col-md-3">
                                        <span class="text-secondary">Reviews</span>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning-half" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-3 text-center">
                                        <p class="fw-bold price">$ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 fs-6">
                                <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                            </div>
                            <p class="text-secondary">
                                Book By Chetan Bhagat
                            </p>

                        </mat-card-content>
                        <mat-card-actions>
                           <i class="fa fa-heart text-danger"   aria-hidden="true"></i>
                            <i class="fs-6">123</i>
                            <button mat-button class="bg-dark text-white cart mx-5"><i
                                    class="fa fa-shopping-cart text-white" 
                                    aria-hidden="true"></i> Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="example-card rounded-3 shadow-sm p-3 mb-5 bg-body rounded product-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="reviews">
                                <div class="row">
                                    <div class="col col col-md-3">
                                        <span class="text-secondary">Reviews</span>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning-half" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-3 text-center">
                                        <p class="fw-bold price">$ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 fs-6">
                                <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                            </div>
                            <p class="text-secondary">
                                Book By Chetan Bhagat
                            </p>

                        </mat-card-content>
                        <mat-card-actions>
                           <i class="fa fa-heart text-danger"   aria-hidden="true"></i>
                            <i class="fs-6">123</i>
                            <button mat-button class="bg-dark text-white cart mx-5"><i
                                    class="fa fa-shopping-cart text-white" 
                                    aria-hidden="true"></i> Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="example-card rounded-3 shadow-sm p-3 mb-5 bg-body rounded product-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="reviews">
                                <div class="row">
                                    <div class="col col col-md-3">
                                        <span class="text-secondary">Reviews</span>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning-half" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-3 text-center">
                                        <p class="fw-bold price">$ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 fs-6">
                                <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                            </div>
                            <p class="text-secondary">
                                Book By Chetan Bhagat
                            </p>

                        </mat-card-content>
                        <mat-card-actions>
                           <i class="fa fa-heart text-danger"   aria-hidden="true"></i>
                            <i class="fs-6">123</i>
                            <button mat-button class="bg-dark text-white cart mx-5"><i
                                    class="fa fa-shopping-cart text-white" 
                                    aria-hidden="true"></i> Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card class="example-card rounded-3 shadow-sm p-3 mb-5 bg-body rounded product-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="reviews">
                                <div class="row">
                                    <div class="col col col-md-3">
                                        <span class="text-secondary">Reviews</span>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning-half" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-3 text-center">
                                        <p class="fw-bold price">$ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 fs-6">
                                <a class="text-decoration-none" href="/product-view">The Girl in Room No 115</a>
                            </div>
                            <p class="text-secondary">
                                Book By Chetan Bhagat
                            </p>

                        </mat-card-content>
                        <mat-card-actions>
                           <i class="fa fa-heart text-danger"   aria-hidden="true"></i>
                            <i class="fs-6">123</i>
                            <button mat-button class="bg-dark text-white cart mx-5"><i
                                    class="fa fa-shopping-cart text-white" 
                                    aria-hidden="true"></i> Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="example-card rounded-3 shadow-sm p-3 mb-5 bg-body rounded product-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="reviews">
                                <div class="row">
                                    <div class="col col col-md-3">
                                        <span class="text-secondary">Reviews</span>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning-half" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-3 text-center">
                                        <p class="fw-bold price">$ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 fs-6">
                                <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                            </div>
                            <p class="text-secondary">
                                Book By Chetan Bhagat
                            </p>

                        </mat-card-content>
                        <mat-card-actions>
                           <i class="fa fa-heart text-danger"   aria-hidden="true"></i>
                            <i class="fs-6">123</i>
                            <button mat-button class="bg-dark text-white cart mx-5"><i
                                    class="fa fa-shopping-cart text-white" 
                                    aria-hidden="true"></i> Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="example-card rounded-3 shadow-sm p-3 mb-5 bg-body rounded product-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="reviews">
                                <div class="row">
                                    <div class="col col col-md-3">
                                        <span class="text-secondary">Reviews</span>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning-half" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-3 text-center">
                                        <p class="fw-bold price">$ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 fs-6">
                                <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                            </div>
                            <p class="text-secondary">
                                Book By Chetan Bhagat
                            </p>

                        </mat-card-content>
                        <mat-card-actions>
                           <i class="fa fa-heart text-danger"   aria-hidden="true"></i>
                            <i class="fs-6">123</i>
                            <button mat-button class="bg-dark text-white cart mx-5"><i
                                    class="fa fa-shopping-cart text-white" 
                                    aria-hidden="true"></i> Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col">
                    <mat-card class="example-card rounded-3 shadow-sm p-3 mb-5 bg-body rounded product-card">
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="reviews">
                                <div class="row">
                                    <div class="col col col-md-3">
                                        <span class="text-secondary">Reviews</span>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-1">
                                        <i class="fa fa-star text-warning-half" aria-hidden="true"></i>
                                    </div>
                                    <div class="col col col-md-3 text-center">
                                        <p class="fw-bold price">$ 100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 fs-6">
                                <a class="text-decoration-none" href="javascript:void(0)">The Girl in Room No 115</a>
                            </div>
                            <p class="text-secondary">
                                Book By Chetan Bhagat
                            </p>

                        </mat-card-content>
                        <mat-card-actions>
                           <i class="fa fa-heart text-danger"   aria-hidden="true"></i>
                            <i class="fs-6">123</i>
                            <button mat-button class="bg-dark text-white cart mx-5"><i
                                    class="fa fa-shopping-cart text-white" 
                                    aria-hidden="true"></i> Add to Cart</button>
                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>
</div>