<div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <!--total customer,total orders,total return orders,
total cancelled orders,total vendors,total products,payment req,cate-->
            <div class="row g-6 mb-0">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total
                                        Customers</span> <span class="h3 font-bold mb-0">$750.90</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"> <i
                                            class="fas fa-user"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total
                                        Orders</span> <span class="h3 font-bold mb-0">215</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i
                                            class="bi bi-people"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span
                                        class="h6 font-semibold text-muted text-sm d-block mb-2">Returened Orders</span>
                                    <span class="h3 font-bold mb-0">1.400</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white text-lg rounded-circle"> <i
                                            class="fa fa-undo"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span
                                        class="h6 font-semibold text-muted text-sm d-block mb-2">Cancelled Orders</span>
                                    <span class="h3 font-bold mb-0">95%</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"> <i
                                            class="fa fa-times"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-6 mb-6">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total
                                        Vendors</span> <span class="h3 font-bold mb-0">$750.90</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle"> <i
                                            class="bi bi-people"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total
                                        Products</span> <span class="h3 font-bold mb-0">215</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i
                                            class="bi bi-minecart-loaded"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Payment
                                        Requests</span> <span class="h3 font-bold mb-0">1.400</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white text-lg rounded-circle"> <i
                                            class='fas fa-wallet'></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total
                                        Category</span> <span class="h3 font-bold mb-0">95%</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"> <i
                                            class="fa fa-list-alt"></i> </div>
                                </div>
                            </div>
                            <!-- <div class="mt-2 mb-0 text-sm"> <span class="badge badge-pill bg-soft-success text-success me-2"> <i class="bi bi-arrow-up me-1"></i>10% </span> <span class="text-nowrap text-xs text-muted"></span> </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-0 mb-7">
                <div class="row match-height">
                    <div class="col-xl-4 col-lg-12 col-12">
                        <div class="card" style="height: 447.562px;">
                            <div class="card-header">
                                <h3 class="mb-0">Top Trending Product</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-nowrap border border-1">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Vendor</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Orderd</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>boAt 115M Earbuds with 180 playback Time</td>
                                            <td>ABC Electronics Ltd</td>
                                            <td>$13</td>
                                            <td>236</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>boAt 115M Earbuds with 180 playback Time</td>
                                            <td>ABC Electronics Ltd</td>
                                            <td>$13</td>
                                            <td>236</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>boAt 115M Earbuds with 180 playback Time</td>
                                            <td>ABC Electronics Ltd</td>
                                            <td>$13</td>
                                            <td>236</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>boAt 115M Earbuds with 180 playback Time</td>
                                            <td>ABC Electronics Ltd</td>
                                            <td>$13</td>
                                            <td>236</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>boAt 115M Earbuds with 180 playback Time</td>
                                            <td>ABC Electronics Ltd</td>
                                            <td>$13</td>
                                            <td>236</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-12">
                        <div class="card" style="height: 447.562px;">
                            <div class="card-header">
                                <h3 class="mb-0">New Orders</h3>
                            </div>
                            <div class="table-responsive bg-whit">
                                <table class="table table-hover table-nowrap">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Sr No.</th>
                                            <th scope="col">Vendor Name</th>
                                            <th scope="col">Order Number</th>
                                            <th scope="col">Number of Product</th>
                                            <th scope="col">Order Placed</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Zara Fashion</td>
                                            <td>ZI2U07L52I</td>
                                            <td>3</td>
                                            <td>10 February 2023</td>
                                            <td class="text-start"> <a href="#" class="btn btn-sm btn-neutral">View</a>
                                                <button type="button"
                                                    class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                                    <i class="bi bi-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Zara Fashion</td>
                                            <td>ZI2U07L52I</td>
                                            <td>3</td>
                                            <td>10 February 2023</td>
                                            <td class="text-start"> <a href="#" class="btn btn-sm btn-neutral">View</a>
                                                <button type="button"
                                                    class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                                    <i class="bi bi-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Zara Fashion</td>
                                            <td>ZI2U07L52I</td>
                                            <td>3</td>
                                            <td>10 February 2023</td>
                                            <td class="text-start"> <a href="#" class="btn btn-sm btn-neutral">View</a>
                                                <button type="button"
                                                    class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                                    <i class="bi bi-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Zara Fashion</td>
                                            <td>ZI2U07L52I</td>
                                            <td>3</td>
                                            <td>10 February 2023</td>
                                            <td class="text-start"> <a href="#" class="btn btn-sm btn-neutral">View</a>
                                                <button type="button"
                                                    class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                                    <i class="bi bi-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Zara Fashion</td>
                                            <td>ZI2U07L52I</td>
                                            <td>3</td>
                                            <td>10 February 2023</td>
                                            <td class="text-start"> <a href="#" class="btn btn-sm btn-neutral">View</a>
                                                <button type="button"
                                                    class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                                    <i class="bi bi-trash"></i> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row match-height">
                    <div class="col-xl-4 col-lg-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="mb-0">Statstics</h3>
                            </div>
                            <div class="height-400 lineAreaDashboard">
                                <app-pie-chart style="width: 800px; height: 600px;"></app-pie-chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-12">
                        <div class="card" >
                            <div class="card-header">
                                <h3 class="mb-0">Category wise Order</h3>
                            </div>
                            <div class=""><app-bar-chart ></app-bar-chart></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>